{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
  <!-- <style> -->
</head>

<body>
  <span class="preheader">{{description}}</span>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
          <spacer size="30"></spacer>
          <container>
            <spacer size="16"></spacer>

            <row>
              <columns>
                <img class="logo" src="https://s3.amazonaws.com/secrettech/moon-assets/moon-email-logo.png" alt="MOON wallet">
              </columns>
            </row>

            <spacer size="16"></spacer>

            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}} {{> body}}

            <row class="collapsed footer">
              <columns>
                <spacer size="16"></spacer>
                <p>
                  <a href="https://app.moonwallet.tech/auth/sign-in">MOON</a> |
                  <a href="https://t.me/MoonWallet">Telegram group</a> |
                  <a href="mailto:info@secrettech.io">info@secrettech.io</a>
                </p>
              </columns>
            </row>

          </container>
        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>

</html>