@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.logo {
  width: 150px;
  height: 150px;
  margin: auto;
}

table.container {
  background-color: transparent !important;
}
